.block {
	padding: 160px 0 50px 0;
}


.block_order {
	background-color: $accent_color;

}















// стилизация навигации для сайта

.humburger {
	top: 0;
	right: 9.7%;
	padding: 0;
	background: none;
	@include transition(all, 2.5s, ease);
	cursor: pointer;
	display: block;
	border: 3px solid rgb(233, 234, 226);
	width: 50px;
	height: 50px;
	display: flex;
	position: absolute;

}

.nenu_humburger span {
	margin: auto;
	height: 3px;
	width: 30px;
	background-color: rgb(233, 234, 226);
	display: block;

	&:after,
	&:before {
		width: 30px;
		height: 3px;
		background-color: rgb(233, 234, 226);
		display: block;
		margin: 0 auto;
		content: '';
	}

	&:after {
		transform: translateY(7px);
	}

	&:before {
		transform: translateY(-11px);
	}

}

.menu,
.menu__list {
	@include transition(all, 2.5s, ease);
}

.humburger:active,
.humburger:hover {
	border-color: #f8c255;
	@include transition(all, 2.5s, ease);
}

.humburger:active.nenu_humburger span,
.humburger:active.nenu_humburger span:before,
.humburger:active.nenu_humburger span:after,

.humburger:hover.nenu_humburger span,
.humburger:hover.nenu_humburger span:before,
.humburger:hover.nenu_humburger span:after {
	background-color: #fff;
}

.humburger_active {

	border-color: #f8c255;
	z-index: 1; // чтобы крестик был выше меню
}

.humburger_active:hover,
.humburger_active:active {
	border-color: #f8c255;
}

.humburger_active span,
.humburger_active span:after,
.humburger_active span:before {
	background-color: #f8c255;
}

.humburger_active span {
	transform: rotate(45deg);

}

.humburger_active span:after {
	transform: rotate(-90deg);
	position: relative;
	z-index: 1;
}

.humburger_active span:before {
	display: none;
}

.top_menu_list,
.menu__list {
	position: absolute;
	background-color: #f8c255;
	top: 0;
	right: 5px;
	width: 720px;
	height: 50px;
	list-style: none;
	align-items: center;
	padding-right: 56px;
	justify-content: space-between;
	display: none;
	z-index: -99999;
	@include transition(display, 10.5s, ease);
}

.menu__list--active,
.top_menu_active {
	display: flex;
	z-index: 0;
	@include transition(display, 10.5s, ease);
}


.menu ul li a {
	@include font-size(14px);
	padding: 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	@include transition(all, 0.5s, ease);
}

.menu ul li a:hover {
	color: #000;

}










.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	color: #000;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}

.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	// padding: 8px 15px;
	transition: all 0.2s ease-in;
	//	padding: 5px 10px;
	padding-left: 10px;
	background-color: #fff;
	font-size: 1.17rem;
	color: #000;
	font-family: LatoSemiBold,
		sans-serif;
	border: none;
	border-bottom: 1px solid #e4e4e4;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}

.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #000 transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 10px;
}

.select-styled:hover {
	background-color: darken(#fff, 10%);
}

.select-styled:active,
.select-styled.active {
	background-color: darken(#fff, 10%);
}

.select-styled:active:after,
.select-styled.active:after {
	top: 9px;
	border-color: transparent transparent #fff transparent;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #eee;
}

.select-options li {
	margin: 0;
	padding: 5px 0;
	text-indent: 15px;
	border-top: 1px solid #eee;
	transition: all 0.15s ease-in;
}

.select-options li:hover {
	color: #ffc61a;
	background: #fff;
}

.select-options li[rel="hide"] {
	display: none;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
	background: darken(#ffc61a, 10%);
	box-shadow: darken(#ffc61a, 10%) 0 1px 3px 0 inset;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
	color: #fff !important;
	background: #ffc61a !important;
}

























.menu-icon {
	height: 20px;
	width: 25px;
	position: relative;
}

.menu-icon:hover {
	cursor: pointer;
}

.menu-icon:hover .menu-icon__bar {
	opacity: 0.6;
}

.menu-icon__bar {
	position: absolute;
	top: 50%;
	height: 2px;
	width: 100%;
	background-color: #fff;
	display: block;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.menu-icon__bar::before,
.menu-icon__bar::after {
	height: 2px;
	width: 100%;
	content: "";
	background-color: #fff;
	display: block;
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.menu-icon__bar::before {
	top: -10px;
}

.menu-icon__bar::after {
	bottom: -10px;
}

.menu-icon--open .menu-icon {
	position: relative;
}

.menu-icon--open .menu-icon__bar {
	background: transparent;
}

.menu-icon--open .menu-icon__bar::before,
.menu-icon--open .menu-icon__bar::after {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu-icon--open .menu-icon__bar::after {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.menu-icon--open .menu-icon__bar::before {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.nav {
	position: fixed;
	top: 80px;
	padding: 20px;
	right: -150%;
	background-color: #222;
	transition: right 0.6s ease;
	width: 55%;
}

.nav--active {
	position: fixed;
	top: 80px;
	right: 0;
	z-index: 25;
}

.nav__list {
	padding-left: 0;
	list-style: none;
}

.nav__item {
	margin-bottom: 10px;
	text-align: left;
}

.nav__link {
	position: relative;
	color: #fff;
	text-decoration: none;
}

.nav__link--plus::after,
.nav__link--minus::after {
	color: #fff;
	font-family: FontAwesome;
	font-size: 10px;
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
}

.nav__link--plus::after {
	content: "";
}

.nav__link--minus {
	color: #C14500;
}

.nav__link--minus::after {
	content: "";
	color: #C14500;
}

.nav__link:hover {
	opacity: 0.6;
}

.nav__sub-list {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	displaY: none;
	list-style: none;
	padding-left: 10px;
}

.nav__sub-list--active {
	display: block;
}

.nav__sub-item .nav__link {
	color: rgba(255, 255, 255, 0.6);
}

.nav__sub-item:not(:last-child) {
	padding-bottom: 10px;
}
