
.footer_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;


}

.footer_items {
	width: 30%;
	background-color: yellow;

}

.heagerclass {

	background-color: red;
	padding: 50px 0;
}

.heagerclass_title {
	color:#fff;
}