.header_fon {
	background: transparent url('../img/header_fon.jpg') center center no-repeat;
	background-size: cover;
	min-height: 740px;
	position: relative;
	background-attachment: fixed;
}

.header_fon:before {
	content: '';
	background-color: rgba(#0f0f0f, .7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.mobile_box {
	position: relative;
	width: 56px;
	height: 56px;
	display: none;
}

.top_line {
	padding: 12px 0;
	z-index: 1000;
	@include transition(all, 0.50s, ease);

}

.fixed-one {
	width: 100%;
	position: fixed;
	top: 0;

	background-color: rgba(#111, .7);
}

.container_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	max-width: 1400px;

	margin: 0 auto;
}

.logo {
	padding: 0;
	margin: 0;
}

.logo img {
	display: inline-block;
	width: 100%;
	height: auto;
}

.top_line_menu {
	padding: 0;
	margin: 0;
}

.top_line_menu ul {
	list-style: none;
	display: flex;
}

.top_line_menu ul li a {
	font-family: "LatoBlack", sans-serif;
	@include font-size(17px);
	line-height: 1.2;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 18px;
	margin-right: 3px;
	margin-left: 3px;
	@include transition(all, 0.3s, ease);
}

.top_line_menu ul li a.mPS2id-highlight,
.top_line_menu ul li a:hover {
	background-color: $accent_color;
	color: #fff;
}

nav.nav ul li a.mPS2id-highlight {
	color: $accent_color;
}

.header_content {
	margin-top: 40px;
	text-align: center;
	position: relative;
}

.header_content_car {
	background: url(../img/header_fon_car.jpg.png) center center no-repeat;
	content: '';
	z-index: 3;
	position: absolute;
	bottom: -15%;
	left: 50%;
	width: 826px;
	height: 484px;
	margin-left: -(826 / 2) * 1px;
	//margin-top: -(484 / 2) * 1px;
}

.header_title {
	color: $accent_color;
	@include font-size(35px);
	text-transform: uppercase;
}

.header_phone,
.header_link {
	color: #fff;
	@include font-size(72px);
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	@include transition(all, 0.3s, ease);
}

.header_link {
	@include font-size(20px);
	line-height: 1.2;
	letter-spacing: 16.0px;
}

.header_phone:hover,
.header_link:hover {
	color: darken(#fff, 50%);
}

.yellow_block_wrap {
	display: flex;
	justify-content: space-between;
}

.yellow_left {
	flex-basis: 63%;
	padding-right: 215px;
}

.yellow_right {

	flex-basis: 37%;
}

.yellow_descr {
	@include font-size(35px);
	font-family: "LatoBlack", sans-serif;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.yellow_title {
	@include font-size(50px);
	font-family: "LatoBlack", sans-serif;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.yellow_text {
	@include font-size(18px);
	margin-bottom: 60px;
}

.bookacab_block {
	width: 100%;
}

.bookacab_block_title {
	padding: 5px 10px;
	background-color: #000000;
	@include font-size(34px);
	text-transform: uppercase;
	color: #fff;
	font-family: "LatoBlack", sans-serif;
}

.form_book {
	padding: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #fff;
}

.form_book_input {
	padding: 5px 10px;
	background-color: #fff;
	font-size: 1.17rem;
	color: #000;
	font-family: "LatoSemiBold", sans-serif;
	border: none;
	border-bottom: 1px solid #e4e4e4;
	width: 48%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	transition: all 0.15s ease-in;
	outline: none;
}

.form_book_input:hover {
	background-color: #e6e6e6;
}


.form_book_input_choice {
	width: 100%;
	margin-bottom: 44px;
}

.form_book_submit {
	font-family: "BebasNeueBold", sans-serif;
	@include font-size(29px);
	padding: 11px 0;
	display: block;
	width: 100%;
	background-color: #131313;
	color: #fff;
	text-transform: uppercase;
	border-radius: 10px;
	cursor: pointer;
}

.sector_button {
	display: inline-block;
	padding: 14px 34px;
	font-family: "BebasNeueBold", sans-serif;
	@include font-size(29px);
	color: #fff;
	border-radius: 10px;
	background-color: #000;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	cursor: pointer;
}

.block_tarif {
	padding: 60px 0 80px 0;
}

.tarif_wrap {
	display: flex;
	justify-content: space-between;
}

.tarif_items {
	margin-top: 75px;
	flex-basis: 32%;
	background-color: #f5f4f2;
	padding: 120px 40px 25px 40px;
	text-align: center;
	position: relative;
	@include transition(all, 0.3s, ease);
}

.tarif_items:before {
	right: -35px;
	bottom: -7px;
	position: absolute;
	@include triangle(55px, down, #000);
	transform: rotate(-45deg);
	color: $accent_color;
	content: '';
	opacity: 0;
}

.tarif_items:after {
	right: 12px;
	bottom: 9px;
	position: absolute;
	@include font-size(30px);
	content: '\f005';
	font-family: 'fontawesome';
	color: $accent_color;
	opacity: 0;
}

.tarif_items:hover {
	background-color: $accent_color;
}

.tarif_items:hover:before,
.tarif_items:hover:after {
	opacity: 1;
}

.tarif_items:hover .tarif_price {
	color: #000;
}

.tarif_items:hover .sector_button {
	color: #fff;
	background-color: #1b1b1b;
}

.tarif_title {
	@include font-size(30px);
	text-transform: uppercase;
	font-family: "LatoBlack", sans-serif;
	margin-bottom: 30px;
}

.tarif_terms {
	margin-bottom: 40px;
	@include font-size(18px);
}

.tarif_price {
	@include font-size(40px);
	text-transform: uppercase;
	font-family: "LatoBlack", sans-serif;
	margin-bottom: 40px;
	color: $accent_color;
}

.tarif_items .sector_button {
	background-color: $accent_color;
	color: #000;
	font-weight: 800;
}

.tarif_items_car {
	position: absolute;
	left: 0;
	// 	top:-75px;
	transform: translateY(-115%);
}

.block_tarif {
	text-align: center;
}

.tarif_title {
	@include font-size(44px);
	margin-bottom: 50px;
	display: inline-block;
	font-family: "LatoBlack", sans-serif;
}

.tarif_title span {
	display: block;
	color: $accent_color;
	@include font-size(35px);
}

.block_wish {
	padding: 70px 0;
	background: transparent url('../img/you-wish.jpg') center center no-repeat;
	background-size: cover;
	min-height: 740px;
	position: relative;
	text-align: center;
	background-attachment: fixed;
}

.header_fon:before {
	content: '';
	background-color: rgba(#0f0f0f, .7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.wish_desc {
	position: relative;
	@include font-size(35px);
	margin-bottom: 10px;
	display: inline-block;
	color: $accent_color;
	text-transform: uppercase;
	font-family: "LatoBlack", sans-serif;
}

.wish_title {
	position: relative;
	@include font-size(35px);
	margin-bottom: 90px;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-family: "LatoBlack", sans-serif;
}

.wish_wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wish_wrap_item {
	display: flex;
	width: 40%;
	justify-content: space-between;
	margin-bottom: 60px;
}

.wish_wrap_item_icon {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background-color: $accent_color;
	color: #000;
	@include font-size(30px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wish_wrap_item_content {
	position: relative;
	color: #fff;
	width: 80%;
}

.wish_wrap_item_content h3 {
	text-align: left;
	text-transform: uppercase;
	color: $accent_color;
	margin-bottom: 18px;
}

.wish_wrap_item_content p {
	text-align: left;
}

.block_wish .sector_button {
	background-color: $accent_color;
	color: #000;
}

.block_best {
	padding: 65px 0 0 0;
	text-align: center;
}

.block_best .wish_title {
	color: #000;
}

.best_item_content {
	padding: 0 200px 0 100px;
	width: 100% - ((375 / 1140) *100%);
}

.best_item_picture {
	width: (375 / 1140) *100%;

	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.best_item_title {
	@include font-size(25px);
	text-transform: uppercase;
	font-family: "LatoBlack", sans-serif;
	margin-bottom: 30px;
	text-align: left;
}

.best_item_desc {
	@include font-size(18px);
	margin-bottom: 54px;
	text-align: left;
}

.best_item_list {
	list-style: none;
	display: flex;
}

.best_item_list li {
	margin-right: 12px;
}

.google_button {
	background: transparent url('../img/google-button.png') center center no-repeat;
	background-size: 210px 65px;
	width: 210px;
	height: 65px;
	display: block;
}

.apple_button {
	background: transparent url('../img/apple-button.png') center center no-repeat;
	background-size: cover;
	width: 210px;
	height: 65px;
	display: block;
}

.block_or {
	background-color: $accent_color;
	padding: 70px 0 95px 0;
	text-align: center;
}

.block_or .wish_title {
	margin-bottom: 40px;
	color: #000;
	font-family: "LatoBlack", sans-serif;
}

.block_or .header_phone {
	color: #000;
	font-family: "LatoBlack", sans-serif;
}






.block_testimonials {
	background: transparent url('../img/testimonials-fon.jpg') center center no-repeat;
	background-size: cover;
	// min-height: 740px;
	position: relative;
	padding: 100px 0 75px 0;
	text-align: center;
	background-attachment: fixed;
}

.block_testimonials:before {
	content: '';
	background-color: rgba(#0f0f0f, .5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}




.item-trademark {
	padding: 40px 52px 50px 52px;
	background-color: #040707;
	color: #fff;
	border-radius: 30px;
}

.item-cont {
	@include font-size(18px);
	text-align: left;
	margin-bottom: 20px;
}

.item-cont_client {
	display: flex;

}

.item-cont_client img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.item-cont_text {
	text-align: left;
	margin-left: 10px;
}

.item-cont_text h3 {
	@include font-size(25px);
	color: $accent_color;
	text-transform: uppercase;
}

.item-cont_text {
	@include font-size(18px);
	text-transform: uppercase;
}



.slick-slide {
	padding: 0 15px;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'fontawesome';

}

.slick-prev:before {
	content: '\f104';
}

.slick-next:before {
	content: '\f105';
}
