@import "var";

// эти свойства по default
*::-webkit-input-placeholder {
	font-family: "LatoSemiBold", sans-serif;

	color: #202020;
	opacity: 1;
}

*::-moz-placeholder {
	font-family: "LatoSemiBold", sans-serif;

	color: $placeholdercolortext;
	opacity: 1;
}

*::-ms-input-placeholder {
	font-family: "LatoSemiBold", sans-serif;

	color: $placeholdercolortext;
	opacity: 1;
}

::placeholder {
	font-family: "LatoSemiBold", sans-serif;
	color: $placeholdercolortext;
}

::selection {
	background-color: $accent_color;
	color: $white_color;
}

@import "fonts";

html {
	width: 100%;
	/* height: 100%; */
	font-size: $body_fontsize;
	line-height: $body_lineheight;
	margin: 0;
	padding: 0;
	-webkit-backface-visibility: hidden;
	/* overflow-x: hidden; */
}

body {
	font-size: $body_fontsize;
	min-width: 320px;
	opacity: 1;
	position: relative;
	line-height: $body_lineheight;
	font-family: $default-font;
	overflow-x: hidden;
	color: $body_color_text;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

body.stop {
	overflow: hidden;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}


@import "header"; // стили шапки сайта
@import "allstyle"; // стили шапки сайта

@import "singleheader"; // стили шапки сайта
@import "footer"; // стили шапки сайта
@import "media"; // Always at the end
