{
  //"react-app",
  "extends": [ "prettier", "airbnb-base", "plugin:vue/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jquery": true
  },

  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
    //   "parser": "babel-eslint"
  },
  "plugins": ["vue", "react", "prettier"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "windows"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": "warn",
    "no-plusplus": "warn",
    "max-len": ["error", 150, { "ignoreUrls": true }],
    "no-alert": "warn",
    "no-tabs": "warn",
    "no-empty": 0,
    "no-empty-class": 0,
    "block-scoped-var": 0
  }
}
